.cart {
    font-size: 2.4em;
    position: relative;
}

.item-count {
    position: absolute;
    right: 0px;
    bottom: -15px;
    background: rgb(77, 231, 95);
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: initial;
    border-radius: 50%;
}